* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

.common_navbar {
  width: 100%;
  height: 107px;
  background-color: #0c0c0c;
  padding-left: 85px;
  padding-right: 85px;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.empty_container1 {
  width: 756px;
  height: 100px;
}

.navbar_text {
  width: 800px;
  height: 107px;
  margin-right: 0;

  gap: 67px;

  color: #f0f0f0;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;

  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.intro {
  width: 100%;
  height: 795px;
  overflow: hidden;
}

.call_to_action {
  width: 100%;
  height: 423px;
  overflow: hidden;

  background-image: linear-gradient(to right, #14213d, #010c24);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logos1 {
  width: 917px;
  height: 150px;

  gap: 100px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.call_to_action p {
  font-size: 48px;
  color: #fca311;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 20px;
}

.footer {
  width: 100%;
  height: 509px;
  overflow: hidden;

  background-color: #0c0c0c;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer_left {
  width: 400px;
  height: 509px;
  padding-left: 70px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.footer_center {
  width: 1195px;
  height: 509px;
}

.footer_right {
  width: 244px;
  height: 509px;
  padding-right: 85px;
  padding-top: 290px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.footer_text {
  width: 200px;
  height: 247px;

  gap: 27px;

  color: #f0f0f0;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.footer_icons {
  margin-top: 45px;
  width: 321px;
  height: 69px;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.footer_icons a {
  margin-right: 16px;
}
