.navbar {
  width: 100%;
  height: 107px;
  background-color: #14213d;
  padding-left: 85px;
  padding-right: 85px;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.empty_container1 {
  width: 756px;
  height: 100px;
}

.navbar_text {
  width: 800px;
  height: 107px;
  margin-right: 0;

  gap: 67px;

  color: #f0f0f0;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;

  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.intro_container {
  width: 100%;
  height: 1227px;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.most_recent {
  width: 100%;
  height: 951px;
  overflow: hidden;
}

.knowmore_button {
  width: 307px;
  height: 92px;

  position: relative;
  left: 1273px;
  bottom: 305px;
}

.lor {
  width: 100%;
  height: 735px;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.preview {
  width: 100%;
  height: 836px;
  padding-top: 73px;
  padding-bottom: 73px;
  padding-left: 85px;
  padding-right: 85px;

  background-color: #0c0c0c;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.preview a {
  margin-right: 27px;
}
