.projects {
  width: 100%;
  height: 3579px;
  overflow: hidden;
}

.thumbnails {
  width: 1009px;
  height: 2348px;
  overflow: hidden;

  position: relative;
  left: 85px;
  bottom: 3935px;
}

.thumbnails img {
  margin-bottom: 25px;
}

.documentary {
  width: 1009px;
  height: 568px;
  overflow: hidden;

  position: relative;
  left: 825px;
  bottom: 733px;
}
